.container {
  width: 22%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  background-color: white;
  margin: 0.5%;
  border-radius: 10px;
  box-shadow: 10px -5px 20px 0px #f1f1f1;
  transition: 0.2s ease-in;
}
.container:hover{
  transform: scale(1.05);
}
.image{
  border-radius: 10px;
}
.title {
  font-size: 18px;
  font-weight: bold;
  color: #d1411e;
}
.price {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}
.desc {
  text-align: center;
  color: #444;
}
@media screen and (max-width: 1024px) {
  .container {
    width: 40%;
  }
  .title {
    font-size: 24px;
  }
  .price {
    font-size: 20px;
  }
  .desc {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 60%;
  }
  .title {
    font-size: 30px;
  }
  .price {
    font-size: 24px;
  }
  .desc {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .title {
    font-size: 30px;
  }
  .price {
    font-size: 24px;
  }
  .desc {
    font-size: 24px;
  }
}
